*.iml
.idea/
.vscode/
*.lock
*.log
.metadata
.dart_tool/
build/
android/.gradle/
android/local.properties
windows/runner/Debug/
windows/runner/Release/
*.keystore
key.properties
.env
.flutter-plugins-dependencies
ios/
linux/
macos/
web/
android/finance_tracker_android.iml
